*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
header{
    position: fixed;
    top:0px;
    width: 100%;
    z-index:1;
  
}
body{
    height: 1000px;
}
#main{
    height:400px;
    width: 90%;
    border:1px solid black;
    margin: auto;
    position: relative;
    top:100px;


    
}
#main img{
    height: 400px;
    width: 90%;
    
}

#services{  
    position: relative;
    top:150px;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
#art{
    text-align: center;
}
#icons{
    padding: 100px;
    font-size: 35px;
    text-align: center;
}
#contact{
    position: relative;
    top:250px;
    height: 80vh;
}
.context{
   height: 200px;
   width:300px;
    
}
.contact_us_form{
  display: flex;
  height: 490px;
}
.contact_us_form form{
    width: 80%;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    background-color: lightgreen;
    box-shadow:20px 20px 300px 10px rgb(113, 116, 107);


}
.contact_us_form form label{
    color: black;
}
.context_cont{
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgb(18,15,15);
}