*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
    box-sizing:border-box;
    outline:none;
}
 .container{    
    height:100vh;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
}
.calculator{
    background-color:black;
    padding:20px;
    box-shadow: none;
    display:grid;
    grid-template-columns:repeat(4,68px);
}
input{
    grid-column:span 4;
    background-color:lightgreen;
    height:70px;
    width:260px;
     border:none;
     padding:20px;
     font-size: 40px;      
     border-radius:20px;
     text-align:end;
     margin:auto;
     margin-top:40px;
     margin-bottom:30px;
     color:gray;    
}
button{
    background-color: burlywood;
    border:none;
    border-radius:50%;
    margin:8px;
    height:48px;
    width:48px;
    font-size:20px;
    color: black;
}
.equal{
    border-radius:40px;
    width:115px;
    background-color: -5px 5px 12px aliceblue,
                     5px 5px 12px gray;
}
.p{
    position: absolute;
}