body {
	background-color: rgb(240, 255, 255);
}

.panel {
	margin-top: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: red;
}

.question {
	font-size: 30px;
	margin-bottom: 20px;
}

.options {
	font-size: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	position:static;
	top : 50%;
	left : 50%;
}

#btn {
	margin-right: 75px;
	margin-top: 2%;
	font-size: 20px;
	background-color: yellowgreen;
	border-color: black;
	border: none;
	cursor: pointer;
}

#score {
	font-size: 30px;
	color: darkslategray;
}
#btn2{
	margin-right: 80px;
	margin-top:1%;
	font-size: 20px;
	background-color: yellow;
	color: darkred;
	border: none;
	cursor: pointer;
}
